{%extends "base.html"%}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Додання нової ставки</h3>
    </div>
    <div class="row">
        <div class="col-xl">
            <form action="#" method="post">

                <label style="margin-top: 1.2em" for="rate_name" class="form-label label">Вкажіть назву ставки:</label>
                <input class="form-control" type="text" id="rate_name" name="rate_name">

                <label style="margin-top: 1.2em" for="new_value" class="form-label label">Вкажіть розмір ставки:</label>
                <input class="form-control" type="number" id="new_value" name="new_value">

                <label style="margin-top: 1.2em" for="date" class="form-label label">Вкажіть дату початку дії
                    ставки:</label>
                <input class="form-control" type="date" id="date" name="date_start">

                <label style="margin-top: 1.2em" for="rate_type" class="form-label label">Вкажіть тип ставки:</label>
                <select class="form-select" aria-label="Default select example" id="rate_type" name="rate_type">
                    <option selected>Виберіть тип зі списку...</option>
                    {%for rt in rt_list%}
                    <option value="{{rt.id}}">{{rt.name}}</option>
                    {%endfor%}
                </select>

                <div class="d-grid gap-2">
                    <button style="margin-top: 2em" type="submit" class="btn btn-outline-primary">Зберегти</button>
                </div>
            </form>

        </div>
    </div>
</div>
{%endblock%}