<div class="container-fluid" style="margin-bottom: 1em; padding: 0">
    <div class="row sticky-top bg-white" >
        <div class="col">
            <ul class="nav border-bottom border-primary ">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enter_payment">Внести надходження</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wd?type=fact">Відпрацьовані дні</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wd?type=plan">Планові робочі дні</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/payment_analysis">Аналіз надходжень</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rates">Ставки</a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <a type="button" class="btn btn-outline-primary" href="/add_wd">Додати робочий день</a>
        </div>
    </div>
</div>